$color1: gray;
$color2: #eee; /* light gray */
$color3: #ec6f66; /* pink */
$color4: white;
$color5: #666; /* dark gray */
$color6: #6EA842;  /* Greenergy <p> color */
$border: $color5 1px dashed;

@mixin special-border($radius, $border-color, $type) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
  border: $border-color 1px $type;
}

/*With box-sizing: border-box
Borders and padding are drawn inside the set width of your content. The margin is drawn outside.*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  color: $color5;
}

label {
  text-align: right;
}

input {
  text-align: center;
}

.container {
  /*background-image: url('background-image-179d.jpg')*/
}

.header { height: 123px; }

.header, .main {
  margin: 0 auto;
  max-width: 1216px;
  width: 90%;
  background-color: $color4;
  @include special-border(8px, $color5, solid);
}

.banner img {
  margin: 0 auto;
  display: block;
}

.inner {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  border: $border;
}

.row {
  overflow: hidden;
  padding: 30px;
}

.column {
  float: left;
  margin-left: 5%;
  margin-bottom: 25px;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.two-thirds {
  width: 65%;
}

.column.half {
  width: 44%;
}
 
.column.one-third {
  width: 30%;
}
 
.column.one-fourth {
  width: 21.25%;
}

.column .one-fifth {
  width: 15%;
}

/*Mobile Breakpoint - If the browser's screen size is within a set range, a media query will replace the CSS the 
browser uses. This is the bread and butter of responsive web design.*/
@media all and (max-width: 640px) {
  .column.full,
  .column.two-thirds,
  .column.half,
  .column.one-third,
  .column.one-fourth {
    margin: 0;
    width: 100%;
  }
  img {
    max-width: 90%;
  }
  label{
    text-align: center;
  }
}

/*Columns are wrapped in rows to prevent other elements from stacking next to them, otherwise know as clearing issues. Rows are cleared with either a clearfix or overflow: hidden*/


/*.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}*/

#calculator-title {
  font-size: 28px;
  color: $color1;
  text-align: left;
}

#inputs-title {
  color: $color3;
}

#results-title {}

#user-inputs{
  margin: 0 2em 0 2em;
  border: $border;
}

#energy-type {
  text-align: center;
/*border: 1px dashed gray;*/
}
#energy-type img{ 
  max-width: 180px;
  padding-bottom: 10px;
 }

#user-results {
  color: $color6;
}

#submit {
  text-align: center;
  background-color: $color2;
  /*border: 1px dashed gray;*/
}

#submit-button {
  text-align: center;
  width: 150px;
  background-color: $color6;
  color: $color4;
}